@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  @apply light;
}

.dark {
  --color-bg-primary: #040407;
  --color-bg-secondary: #040407;
  --color-bg-accent: #2c87bb;
  --color-bg-primary-opposite: #ffffff;
  --color-bg-secondary-opposite: #edf2f7;

  --color-text-primary: #ffffff;
  /* --color-text-secondary: #e5e7eb; */
  --color-text-secondary: #c0c2c6;
  --color-text-tertiary: #adaeb1;
  --color-text-accent: #2c87bb;

  /* borders */
  --color-border-primary: #2c87bb;

  /* scrollbar colors */
  --color-scrollbar-track: #040407;
  --color-scrollbar-handle: #808080;
  --color-scrollbar-handle-hover: #969595;

  /* resume page colors */
  --resume-text-primary: #4a556c;
  --resume-text-secondary: #8e9cb4;
  --resume-text-tertiary: #68778d;
}

.light {
  --color-bg-primary: #ffffff;
  --color-bg-secondary: #edf2f7;
  --color-bg-accent: #2c87bb;
  --color-bg-primary-opposite: #040407;
  --color-bg-secondary-opposite: #040407;

  /* --color-text-primary: #031b4e; */
  --color-text-primary: #000;
  --color-text-secondary: rgba(2, 17, 48, 0.7);
  --color-text-tertiary: rgba(4, 18, 48, 0.7);
  --color-text-accent: #2c87bb;

  /* borders */
  --color-border-primary: #2c87bb;

  /* scrollbar colors */
  --color-scrollbar-track: #ffffff;
  --color-scrollbar-handle: #757575;
  --color-scrollbar-handle-hover: #858383;

  /* resume page colors */
  --resume-text-primary: #4a556c;
  --resume-text-secondary: #8e9cb4;
  --resume-text-tertiary: #68778d;
}

@screen print {
  @page {
    margin-top: 0in;
    margin-bottom: 0in;
    margin-left: 0in;
    margin-right: 0in;
  }

  body {
    -webkit-print-color-adjust: exact !important;
    color-adjust: exact !important;
    color: black !important;
  }

  .page {
    padding: theme(spacing.16) theme(spacing.16) !important;
  }

  .initial {
    color: transparent !important;
    text-shadow: 0 0 0 #fff !important;
  }

  h1,
  h2,
  h3,
  p,
  li {
    color: black !important;
  }

  html {
    font-size: 12.288px !important;
  }
}
